ENV="" 				# Provide a value for ENV

DATABASE_URL="" 				# Provide a value for DATABASE_URL

BETTER_AUTH_SECRET="" 				# Provide a value for BETTER_AUTH_SECRET
BETTER_AUTH_URL="" 				# Provide a value for BETTER_AUTH_URL

# GITHUB_CLIENT_ID="Ov23lioImGVXfrcGbfGD"
# GITHUB_CLIENT_SECRET="3c9e229f420c57a77e952cb3a03dfc033cadb770"

GITHUB_CLIENT_ID="" 				# Provide a value for GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET="" 				# Provide a value for GITHUB_CLIENT_SECRET

NEXT_PUBLIC_APP_URL="" 				# Provide a value for NEXT_PUBLIC_APP_URL

# GITHUB_TOKEN_CLIENT_ID="Ov23likrqgJoRDpoYTsk"
# GITHUB_TOKEN_CLIENT_ID="e55477f178944cde0d77e0c4a90cec0f6751742b"
